<div class="col-md-8 col-md-offset-2">
  <div class="row bill-card">
    <div class="col-md-4">
      <h2><%= bill.title %></h2>
      <p><%= bill.description %></p>
      <strong>
        <p>Copayers receive a text on the <%= bill.day_of_month.ordinalize %> of every month</p>
        <p>Total amount: <%= number_to_currency(bill.total_amount) %></p>
        <p>Total due after <%= plural_ownership(bill.copayers.count, "copayer") %> portion: <%= number_to_currency(bill.amount_left) %></p>
      </strong>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bill-edit-<%= bill.id %>">
        Edit Bill
      </button>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#copayer-add-<%= bill.id %>">
        Add Copayer
      </button>
      <div class="modal fade" id="bill-edit-<%= bill.id %>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <%= form_tag bill_path(bill), method: :patch, remote: true do %>
                <div class="form-group">
                  <%= label_tag :title %>
                  <%= text_field_tag :title, bill.title, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= label_tag :description %>
                  <%= text_area_tag :description, bill.description, class: 'form-control'%>
                </div>
                <div class="form-group">
                  <%= label_tag :day_of_month %>
                  <%= number_field_tag :day_of_month, bill.day_of_month, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= label_tag :total_amount %>
                  <%= number_field_tag :total_amount, number_to_currency(bill.total_amount), class: 'form-control'%>
                </div>
                <div class="modal-footer">
                  <%= submit_tag "Update", class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Copayers:</h2>
      <table class="table table-hover" id="bill-table-<%= bill.id %>">
        <thead>
          <td>Name</td>
          <td>Amount Owed</td>
          <td>Phone Number</td>
        </thead>
        <%= render partial: 'bills/copayer', collection: bill.copayers, as: :copayer %>
      </table>
      <div id="bill-copayer-update-form-<%= bill.id %>">
        <%= render partial: 'bills/copayer_update_form', collection: bill.copayers, as: :copayer %>
      </div>
      <div class="modal fade" id="copayer-add-<%= bill.id %>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <%= form_tag copayers_path, method: :post, remote: true do %>
                <div class="form-group">
                  <%= text_field_tag :first_name, nil, placeholder: 'First Name', class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= text_field_tag :last_name, nil, placeholder: 'Last Name', class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= text_field_tag :amount, nil, placeholder: 'Amount', class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= text_field_tag :phone_number, nil, placeholder: 'Phone Number', class: 'form-control' %>
                </div>
                <%= hidden_field_tag :bill_id, bill.id %>
                <div class="modal-footer">
                  <%= submit_tag "Add", class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>