<tr>
  <td><%= copayer.name %></td>
  <td><%= copayer.amount %></td>
  <td><%= copayer.phone_number %></td>
  <td>
    <button type="button" class="btn btn-warning btn-copayer-table" data-toggle="modal" data-target="#copayer-update-<%= copayer.id %>">
      Edit
    </button>
  </td>
  <td><%= link_to "Delete", copayer_path(copayer), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-copayer-table' %></td>
</tr>